<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ isEditMode ? 'Update' : 'Tambah' }} Resep</ion-title>
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-back-button defaultHref="reseps"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isEditMode">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup] = 'form'>

      <ion-item>
        <ion-label position="floating">Jenis Resep</ion-label>
        <ion-input formControlName = 'jenis'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nama Resep</ion-label>
        <ion-input formControlName = 'judul'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Gambar <b>(URL)</b></ion-label>
        <ion-input formControlName = 'gambar'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Deskripsi</ion-label>
        <ion-textarea formControlName = 'deskripsi'></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bahan</ion-label>
        <ion-textarea formControlName = 'bahan'></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Alat</ion-label>
        <ion-textarea formControlName = 'alat'></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Langkah</ion-label>
        <ion-textarea formControlName = 'langkah'></ion-textarea>
      </ion-item>


    <ion-button expand="block" class="btnSimpan" (click) = "submitResep()" [disabled] = "form.invalid">
      {{ isEditMode ? 'Update' : 'Simpan' }} Resep
    </ion-button>

  </form>
</ion-content>
